<header>
  <h2>
    🤌
    <%= link_to 'VeriCerti', root_path %>
    🇺🇦
  </h2>
  <nav>
    <%= link_to 'Pricing', pricing_path %>
    <% if signed_in? %>
      <%= link_to 'Events', events_path %>
      <%= link_to 'Certificates', certificates_path %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </nav>
</header>
