<article id="<%= dom_id event %>">
  <%= link_to event do %>
    <strong>ID #</strong>
    <%= event.id %>
  <% end %>

  <p>
    <strong>Template:</strong>
    <%= event.certificate_template %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <%= event.created_at %>
  </p>

  <%= link_to "Edit", edit_event_path(event) %>
  <%= button_to "Destroy", event, method: :delete %>

  <hr>

  <%= link_to controller: "certificate_templates", action: event.certificate_template, format: :xlsx, target: :_blank do %>
    Download <%= event.certificate_template.humanize %> CSV template
  <% end %>

  <hr>

  Upload CSV

  <%= form_tag import_certs_event_path(event), method: :post, multipart: true do %>
    <%= file_field_tag :file, accept: ".csv" %>
    <%= submit_tag 'Generate certificates' %>
  <% end %>

</article>
