<article id="<%= dom_id event %>">
  <%= link_to event do %>
    <h4>
      📄 ID #
      <%= event.id %>
    </h4>
  <% end %>

  <p>
    <strong>Template:</strong>
    <kbd>
      <%= event.certificate_template.humanize %>
    </kbd>
  </p>

  <p>
    <strong>Name field:</strong>
    <kbd>
      <%= event.name %>
    </kbd>
  </p>

  <p>
    <strong>Description field:</strong>
    <kbd>
      <%= event.description %>
    </kbd>
  </p>

  <p>
    <strong>Last modified:</strong>
    <%= event.updated_at.strftime("%d %b %Y") %>
  </p>

  <p>
    <strong>Certificates generated:</strong>
    <%= event.certificates.count %>
  </p>
</article>
