<%= form_with(model: event) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div>
    <%= form.label :certificate_template, style: "display: block" %>
    <%= form.select :certificate_template, Event::CERTIFICATE_TEMPLATES, selected: (params[:template] || event.certificate_template), include_blank: true %>
  </div>

  <div>
    <%= form.label :name_field, style: "display: block" %>
    <%= form.text_field :name, autocomplete: "off", placeholder: "What happened?" %>
  </div>

  <div>
    <%= form.label :description_field, style: "display: block" %>
    <%= form.text_area :description, placeholder: "Describe what happened" %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
