<%= form_with(model: event) do |form| %>
  <%= render 'shared/errors', form: form %>

  <div>
    <%= form.label :certificate_template, style: "display: block" %>
    <%= form.select :certificate_template, Event::CERTIFICATE_TEMPLATES, selected: (params[:template] || event.certificate_template), include_blank: true %>
  </div>

  <div>
    <%= form.label :organization_name, style: "display: block" %>
    <%= form.text_field :organization_name, autocomplete: "off", placeholder: "Name of certificate issuer organization" %>
  </div>

  <div>
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_field :logo_url, autocomplete: "off", placeholder: "Link to organization logo" %>
  </div>

  <div>
    <%= form.label :website_url, style: "display: block" %>
    <%= form.text_field :website_url, autocomplete: "off", placeholder: "Link to organization website" %>
  </div>

  <div>
    <%= form.label :name_field, style: "display: block" %>
    <%= form.text_field :name, autocomplete: "off", placeholder: "Occasion name" %>
  </div>

  <div>
    <%= form.label :description_field, style: "display: block" %>
    <%= form.text_area :description, placeholder: "Occasion description" %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>
