<blockquote id="<%= dom_id certificate %>">
  <p>
    <strong>ID:</strong>
    <%= certificate.slug %>
  </p>

  <p>
    <strong>Name field:</strong>
    <kbd>
      <%= certificate.name %>
    </kbd>
  </p>

  <p>
    <strong>Email field:</strong>
    <kbd>
      <%= certificate.email %>
    </kbd>
  </p>

  <p>
    <strong>Description field:</strong>
    <kbd>
      <%= certificate.description %>
    </kbd>
  </p>

  <p>
    <%= link_to "View generated PDF", certificate_path(certificate, format: :pdf) %>
  </p>
  <%= image_tag(certificate.qr_code) if certificate.qr_code.attached? %>
</blockquote>
