<div id="<%= dom_id certificate %>">
  <p>
    <strong>Event:</strong>
    <%= certificate.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= certificate.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= certificate.email %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= certificate.description %>
  </p>

</div>
